

/* 

COLOR THEME

Primary Color: #212121 (grey)
Primary Color 2: #616161 (light grey)
Secondary Color: #ae9a60 (faint yellow)
Accent Color: #64B5F6 (light blue)
Text Color: #FFFFFF (white)

*/



body {
  font-family: 'Josefin Sans';
  background-color: #212121;
  color: #FFFFFF;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}


.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.exercise-card {
  width: 380px;
  height: 445px;
  background: #616161;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.4s all ease-in-out;
}

.exercise-card img {
  height: 320px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.4s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}



@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}